<h2>Gestión de Clientes</h2>

<button class="btn">+ Crear Cliente</button>

<br>
<br>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>Juan Pérez</td>
            <td>8888-8888</td>
            <td>
                <button class="btn">Editar</button>
                <button class="btn btn-danger">Eliminar</button>
            </td>
        </tr>

        <tr>
            <td>2</td>
            <td>María Gómez</td>
            <td>7777-7777</td>
            <td>
                <button class="btn">Editar</button>
                <button class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>