<h2>Gestión de Inventario</h2>

<button class="btn">+ Agregar Material</button>

<table>
    <tr>
        <th>ID</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Acciones</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Cajas</td>
        <td>50</td>
        <td>
            <button class="btn">Editar</button>
            <button class="btn btn-danger">Eliminar</button>
        </td>
    </tr>
</table>